@media(max-width:1440px) {
    .shrink {
        max-width: 1570px;
        overflow: hidden;
        overflow-x: auto;
        display: flex;
        flex-direction: row;
    }
    .shrink::-webkit-scrollbar {
        height: 5px;
    }
    .shrink::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 2px;
    }

    .gamburger_buy {
        max-width: 370px;
        max-height: 524px;
        flex-shrink: 0;
    }
}
@media(max-width:1320px) {}

@media(max-width:1290px) {}

@media(max-width:1140px) {}

@media(max-width:1024px) {}

@media(max-width:992px) {}

@media(max-width:768px) {}

@media(max-width:736px) {}

@media(max-width:734px) {}

@media(max-width:684px) {}

@media(max-width:667px) {
    .h3 h3 {
        font-size: 45px;
    }
}

@media(max-width:576px) {}

@media(max-width:414px) {}

@media(max-width:412px) {}

@media(max-width:375px) {}

@media(max-width:360px) {}

@media(max-width:320px) {}

@media(max-width:280px) {}